.idea/
.metadata/
.recommenders/
RemoteSystemsTempFiles/
target/
.mvn/
.settings/
.classpath
.project
bower_components/
build/
node_modules/
web-notex/index.html
chrome-notexV2/background.js
chrome-notexV2/page.js
chrome-notexV2/popup.js
chrome-notexV2/background.js.map
chrome-notexV2/page.js.map
chrome-notexV2/popup.js.map
web-notex/.env

