
.note_editor {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.note_editor_head {
    justify-content: center;
    /*flex-direction: column;*/
    width: 60%;
}

.note_editor_title {
    height: 50px;
    width: 100%;
    font-size: 35px;
    border: none;
    border-bottom: 2px solid #646464;
    color: rgb(26, 188, 156);
    padding-bottom: 10px;
    padding-top: 20px;
    outline: none;
    resize: none;
}

.note_editor_neck {
    justify-content: space-between;
    display: flex;
}

.note_editor_utils {

}

.note_editor_tags {

}

.note_editor_util {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    color: #646464;
    font-weight: lighter;
    font-size: 25px;
}

.note_editor_text_yulan {
    box-sizing: border-box;
    padding: 20px 40px 0px;
    font-size: 18px;
    width: 70%;
}

.note_editor_text_edit {
    box-sizing: border-box;
    padding: 20px 40px 0px;
    font-size: 18px;
    border: none;
    width: 70%;
    outline: none;
    font-size: 18px;
    resize: none;
}


.note_editor_utils .icon-xiao10 {
    color: #646464;
}

.note_editor_utils .icon-xiao10:hover {
    color: red;
}

.note_editor_modal_tip {
    font-size: 16px;
}

.note_editor_modal_msg {
    margin: 40px 0px 30px;
}